* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

textarea:focus, input:focus{
  outline: none;
}

header {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 20px 20px;
  box-sizing: border-box;
  background-color:	#a5b9cc;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}

#header-wrap {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

header h1 {
  float: left;
  font-size: 32px;
  font-weight: 400;
  color: white;
  margin: 0;
}

#app-title a,
#app-title a:visited {
  text-decoration: none;
  color: white;
}

.menu-button {
  display: none;
}

#navigation {
  float: right;
  vertical-align: middle;
  margin: 0;
}

#navigation li {
  display: inline-block;
  margin-left: 40px;
  font-size: 24px;
}

#navigation a,
#navigation a:visited {
  text-decoration: none;
  color: white;
}

footer {
  width: 100%;
  height: 55px;
  /* position: fixed;
  bottom: 0px;
  left: 0px; */
  box-sizing: border-box;
  margin: auto;
  background-color: #a5b9cc; 
  padding: 10px 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

footer p {
  text-align: center;
  font-size: 20px;
  color: white;
}

#page-content {
  width: 100%;
  margin: auto;
  margin-top: 110px;
  padding-bottom: 120px;
}

.feed {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
}

.feed-content {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

.filter-posts {
  position: fixed;
  right: 50px;
  top: 125px;
}

.filter-posts ul {
  list-style-type: none;
  text-align: center;
  visibility: hidden;
  margin-top: 10px;
}

.filter-posts .open-menu {
  visibility: visible;
}

.feed-posts-menu {
  background-color:	#a5b9cc;
  color: white;
  padding: 10px;
  font-size: 22px;
  border-radius: 5px;
  cursor: pointer;
}

.feed-posts-menu i {
  margin-left: 10px;
}

.filter-posts a,
.filter-posts a:visited {
  text-decoration: none;
  color: #706c6c;
}

.add-post {
  position: fixed;
  right: 50px;
  top: 400px;
}

.new-post {
  font-size: 14px;
  color: #333;
}

.new-post.open-create-new {
  visibility: hidden;
}

.plus {
  width: 60px;
  height: 60px;
  margin: 10px 0;
  background-color: #DD5F32;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
}

.create-new-options>div {
  overflow: hidden;
  margin: 20px 0;
}

#create-post {
  float: left;
  width: 60px;
  height: 60px;
  background-color: #4298B5;
  border-radius: 50%;
  cursor: pointer;
}

#create-image {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #92B06A;
  cursor: pointer;
}

#create-video {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ED1C24;
  cursor: pointer;
}

.create-new-options {
  margin-top: 150px;
  font-size: 60px;
  box-sizing: border-box;
  visibility: hidden;
}

.create-new-type {
  float: left;
  width: 60px;
  height: 60px;
  font-size: 16px;
  margin-left: 10px;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  color: #333;
}

.create-new-options.open-create-new {
  visibility: visible;
}

.new-post-title {
  font-size: 24px;
  width: 500px;
  margin-bottom: 40px;
}

.new-post-description {
  font-size: 14px;
  padding-left: 2px; 
  margin: 0;
  box-sizing: border-box;
}

.new-post-content {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 3px;
  box-sizing: border-box;
}

.send-post {
  float: right;
  background-color: #a5b9cc;
  color: white;
  border-radius: 3px;
  padding: 3px 10px;
  margin-top: 30px;
  box-sizing: border-box;
  cursor: pointer;
}

<<<<<<< HEAD
.post-author {
=======
.post-writer {
>>>>>>> Add new text post.
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.post-author-img img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.post-author-img {
  float: left;
}

.post-author-details {
  float: left;
  margin-left: 20px;
}

.post-author-name a,
.post-author-name a:visited {
  text-decoration: none;
}

.post-time {
  font-size: 12px;
}

.delete-post {
    float: right;
    font-size: 14px;
    background-color: #a5b9cc;
    color: white;
    border-radius: 5px;
    padding: 3px 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.post {
  width: 100%;
  margin: 20px 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.post-content {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.post-type {
  float: left;
}

.post-footer {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
}

.post-footer a,
.post-footer a:visited {
  text-decoration: none;
  color: #333;
}

.post-comment-count {
  float: right;
}

.post-content p {
  text-align: center;
}

.post-content img {
  width: 100%;
}

.post-content iframe {
  width: 100%;
}

.single-feed-item {
  width: 100%;
  max-width: 960px;
  margin: auto;
  padding: 5px;
}

.single-comment {
  width: 100%;
  margin: 20px 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.comment-author-img img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.comment-author-img {
  float: left;
}

.comment-content {
  float: left;
  margin-left: 20px;
}

.comment-author-name a,
.comment-author-name a:visited {
  text-decoration: none;
}

.comment-time {
  width: 100%;
  float: left;
  text-align: right;
  font-size: 12px;
}

.no-comments {
  width: 100%;
  padding: 10px;
}

.add-comment {
  width: 100%;
  overflow: hidden;
  margin: 20px 0;
}

.add-comment input {
  width: 90%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  float: left;
  padding: 3px;
  box-sizing: border-box;
}

.send-comment {
  float: right;
  background-color: #a5b9cc;
  color: white;
  border-radius: 5px;
  padding: 3px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.feed-item-comments .spinner {
  margin-top: 50px;
}

/* loading screen */

.spinner {
  margin: 400px auto 0;
  width: 120px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #a5b9cc;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/* People page */

.user {
  padding: 10px;
  margin: 20px 0;
  box-shadow: 0 0 10px 0px rgba(0,0,0,0.3);
  border-radius: 3px;
  
}
.user a,.user a:hover{
text-decoration: none;
color: #222
}
.user img{
  border-radius: 50%
}
.user span{
  display: inline-block
}
.search {
  
  width: 100%
}
.people-img{
  width: 100%;
}


/* My profile Page */

.profile {
  text-align: center;
}

.profileImg {
  width: 250px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.postCommentButton{
  margin: 20px;
  border-radius: 200px;
}

.fa-circle{
  color: rgb(55, 55, 238);
}

.about{
  margin: 40px 0;
}

.custom-overlay {
  background: rgba(167, 180, 185, 0.7);
}
.custom-modal {
  background: rgb(255, 255, 255);
  max-width: 700px;
  width:100%;
}
/* .custom-modal2{
  background: rgb(255, 255, 255);
  min-width: 500px !important;
  max-width: 700px;
  width:100%;
} */
.btn.btn-action {
  background-color: #e0e1e2;
  border: none;
  color: rgba(0, 0, 0, 0.6);
}
.btn.btn-action:hover {
  background-color: #c0c1c2;
  color: rgba(0, 0, 0, 0.95);
}
.btn.btn-action:focus {
  outline: none;
}
.updateProfileButton{
  width: 80px;
  border-radius: 200px;
  margin:15px;
  float: right;
}
#inputFullName, #inputFullName:focus, #aboutUser-update {
  background-color: rgb(255, 255, 255);
  border:none;
  border-bottom:  2px solid gray;
}
#inputFullNmae{
  width: 100%;
}
#letter-counter{
  display: block;
  float: right;
}
.alert{
  color:red
}
#update-img{
  width: 100%;
  
  }
.update-profile-img-name{
  display: inline-block;
}
.update-profile-img-name{
  margin-top: 20px;
}
.upload-img-btn{
  width: 100%;
  margin-top: 10px;
  border-radius: 200px;
  padding: 5px 0;
  font-size: 85%
}
#aboutUser-update{
  margin-top: 15px;
}
#upload-img{
width: 600px;
}
#upload-img h2{
  margin-bottom: 30px;
}
.upload-url-btn{
  width: 120px;
  margin: 10px;
  border-radius: 200px;
  padding: 5px 0;
  
}
.upload-close-btn{
  width: 120px;
  margin-bottom: 10px;
  border-radius: 200px;
  padding: 5px 0;
  
}
.update-profile-error{
  color: #ED1C24
}
/* end my profil page */

/* END My Profile page */


/* Welcome Page */

.welcomeMainDiv{
  margin: 100px 0;
}

.tabList{
  list-style-type: none;
  text-align: center;
  border-bottom: 1px solid  #a5b9cc;
}

.tabs{
  border: 1px solid #a5b9cc;
}

.react-tabs__tab--selected{
  background-color: #5e9eda;
  color: white;
}

.react-tabs__tab-panel--selected{
  padding: 10px 0;
  text-align: center;
}

#welcomeTitle{
  margin-bottom: 20px;
  color: #2783d8;
}

label {
  display: inline-block;
  width: 80px;
  text-align: right;
  padding-right: 20px;
}​

.btn-outline-primary {
  margin: 20px 0;
}

/* END Welcome page */



/* Welcome Page */

.welcomeMainDiv{
  margin: 100px 0;
}

.tabList{
  list-style-type: none;
  text-align: center;
  border-bottom: 1px solid  #a5b9cc;
}

.tabs{
  border: 1px solid #a5b9cc;
}

.react-tabs__tab--selected{
  background-color: #5e9eda;
  color: white;
}

.react-tabs__tab-panel--selected{
  padding: 10px 0;
  text-align: center;
}

#welcomeTitle{
  margin-bottom: 20px;
  color: #2783d8;
}

label {
  display: inline-block;
  width: 80px;
  text-align: right;
  padding-right: 20px;
}​

.btn-outline-primary {
  margin: 20px 0;
}

/* END Welcome page */

/* Welcome Page */

.welcomeMainDiv{
  margin: 100px 0;
}

.tabList{
  list-style-type: none;
  text-align: center;
  border-bottom: 1px solid  #a5b9cc;
}

.tabs{
  border: 1px solid #a5b9cc;
}

.react-tabs__tab--selected{
  background-color: #5e9eda;
  color: white;
}

.react-tabs__tab-panel--selected{
  padding: 10px 0;
  text-align: center;
}

#welcomeTitle{
  margin-bottom: 20px;
  color: #2783d8;
}

label {
  display: inline-block;
  width: 80px;
  text-align: right;
  padding-right: 20px;
}​

/* END Welcome page */
{}
@media all and (max-width: 640px) {
  .menu-button {
    display: block;
    color: white;
    font-size: 30px;
    float: right;
  }

  #navigation li {
    display: block;
  }

  #navigation {
    width: 100%;
    text-align: right;
    display: none;
  }

  #navigation.open {
    display: block;
  }

  .author-info {
    text-align: center;
  }

  .author-info > * {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}